<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>

<section class="content">
	<div class="g12">
		<h1>Clínica</h1>
		<p>Informações da clínica.</p>
		<p id="notice"><%= notice %></p>
		<form id="form">
			<fieldset>
				<div><label>Dados da Clínica</label>
				<%= link_to 'Editar', edit_clinic_path(@clinic), class: 'button small' %></div>
				<section><label for="text_field">Nome</label>
					<div>
						<p><%= @clinic.name %></p>
					</div>
				</section>
				<section><label for="">Endereço</label>
					<div>
						<p><%= @clinic.address%><%=" - "%><%= @clinic.address_neighbourhood%></p>
					</div>
				</section>
				<% if  @clinic.city == nil
					varcity = '-'
					varstate = '-'
				   else
				   	varcity = @clinic.city.name
				   	varstate = @clinic.city.state.name
				   end %>
				<section><label for="text_tooltip">Cidade</label>
					<div>
						<p><%= varcity %></p>
					</div>
				</section>
				<section><label for="text_tooltip">Estado</label>
					<div>
						<p><%= varstate %></p>
					</div>
				</section>
			</fieldset>
		</form>
		
		<%= link_to 'Voltar', clinics_path, class: 'button small' %>
	</div>
</section>
<%= render 'welcome/partials/footer' %>

