<body>
<%= render 'welcome/partials/admin_header' %>
<%= render 'welcome/partials/admin_nav' %>
<section id="content" class="content">
  <div class="g12">
    <h1>Testagens Pendentes</h1>
    <p>Testes que não foram preenchidos os resultados.</p>
    <% if not current_user.admin? %>
          <% @selection = Selection.all(joins: "INNER JOIN drug_tests on selections.id = drug_tests.selection_id INNER JOIN donors on donors.id = drug_tests.donor_id inner join selected_tests on selected_tests.drug_test_id = drug_tests.id INNER JOIN users on users.company_id= donors.company_id where(users.company_id = '#{current_user.company.id}' and selected_tests.result is null)", group:("selections.id"))
          %>
        <% if @selection.empty? %>
        <br />
        <h4>Ainda não possui nenhum sorteio cadastrado.</h4>
      <% else %>
        <table class="datatable">
          <thead>
            <tr>
              <th>Nome<div class="icon_order"></th><th>Data agendada</th><th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @selection.each do |selection| %>
            <tr class="gradeA">
              <td><%= selection.name %></td>
                <% drug_test = DrugTest.find_by_selection_id(selection.id) %>
                <%if drug_test.scheduled_to == nil%>
                  <td><%= "-"%></p></td>
                  <% else %>
                  <td><%= drug_test.scheduled_to.strftime("%d/%m/%Y")%></p></td>
                  <% end %>              
              <td><%= link_to 'Visualizar', selection, class: 'btn small' %></td>
            </tr>
            <% end %>        
        </tbody>
      </table>
    <% end %>
        
      <% else %>
      <% if @selections.empty? %>
        <br />
        <h4>Ainda não possui nenhum empresa cadastrada, clique em Nova Empresa e cadastre!</h4>
      <% else %>
        <table class="datatable">
          <thead>
            <tr>
              <th>Nome<div class="icon_order"></th><th>Data agendada</th><th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @selections.each do |selection| %>
            <tr class="gradeA">
              <td><%= selection.name %></td>
              <% drug_test = DrugTest.find_by_selection_id(selection.id) %>
                <%if drug_test.scheduled_to == nil%>
                  <td><%= "-"%></p></td>
                  <% else %>
                  <td><%= drug_test.scheduled_to.strftime("%d/%m/%Y")%></p></td>
                  <% end %>
              <td><%= link_to 'Visualizar', selection, class: 'btn small' %></td>
            </tr>
            <% end %>
        
        </tbody>
      </table>
    <% end %>
  <% end %>
  </div>
 
</section>
<%= render 'welcome/partials/footer' %>