<fieldset >
				<label class="noprint-noshadow">Dados da empresa</label>
				<section><label for="text_field">CNPJ</label>
					<div>
						<p><%= @company.legal_identifier %></p>
					</div>
				</section>
				<section><label class="noprint-noshadow" for="">Razão social</label>
					<div>
						<p><%= @company.legal_name %></p>
					</div>
				</section>
				<section><label class="noprint-noshadow" for="">Nome fantasia</label>
					<div>
						<p><%= @company.trade_name %></p>
					</div>
				</section>
				<section><label class="noprint-noshadow" for="text_tooltip">Email para contato</label>
					<div>
						<p><%= @company.contact_email %></p>
					</div>
				</section>
				<section><label class="noprint-noshadow" for="text_tooltip">Telefone de contato</label>
					<div>
						<p><%= @company.contact_phone %></p>
					</div>
				</section>
				<section><label class="noprint-noshadow" for="text_tooltip">Nome para contato</label>
					<div>
						<p><%= @company.contact_name %></p>
					</div>
				</section>
				<section><label class="noprint-noshadow" for="text_tooltip">Endereço</label>
					<div>
						<p><p><%= @company.address%><%=" - "%><%= @company.address_neighbourhood%></p>
					</div>
				</section>
				<% if  @company.city == nil
					varcity = '-'
					varstate = '-'
				   else
				   	varcity = @company.city.name
				   	varstate = @company.city.state.name
				   end %>
				<section><label class="noprint-noshadow"for="text_tooltip">Cidade</label>
					<div>
						<p><%= varcity %></p>
					</div>
				</section>
				<section><label class="noprint-noshadow" for="text_tooltip">Estado</label>
					<div>
						<p><%= varstate %></p>
					</div>
				</section>
			</fieldset>