<%= form_for(@selection) do |f| %>
  <% if @selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection.errors.count, "erro") %> encontrado(s):</h2>

      <ul>
      <% @selection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="actions">
		<fieldset>
			 
		        <%  if not current_user.admin? %>
		         <section><label for="text_field">Responsável pelo sorteio</label>  
			          <div>  
		          			<%= current_user.name %>
			          </div>
			        </section>
			        <%= hidden_field_tag "selection[selection_responsible]", current_user.name%>
			         
					<%= hidden_field_tag "company_id", current_user.company.id%>
		        <% else %>
		      		<section><label>Empresa</label>
			          <div>
			            <%  
			              company_options = ""  
			              Company.all.each do |company|  
			              company_options += "<option value=\"#{company.id}\">#{company.trade_name}</option>"  
			              end   
			            %>  
			            <%= select_tag  'company_id', company_options.html_safe, :prompt => "Selecione a empresa",id: "cod_company",required: "required" %>
			          </div>
			        </section> 

			        <section><label for="text_field">Responsável pelo sorteio</label>  
			          <div>  
			            
			              <%= select_tag  'selection[selection_responsible]', "", :prompt => "Selecione o responsável",id: "cod_users",required: "required" %>
			            
			          </div>
			        </section>  
		        <% end %>
			<section><label for="text_tooltip">Nome da testagem</label>
	        	<div><%= text_field_tag 'name',nil, type: "text",required: "required"%></div>
	      	</section>
	      
	       <section><label for="text_tooltip">Critério</label>
	        	 <div> <%= "Por histórico"%>
	            <%= hidden_field_tag "criteria", "por historico"%></div>
	      	</section> 
		   
		    <section><label for="text_field">Drogas</label>  
		         <div>  
	       			 <%  
          				test_type_options = ""  
	          			TestType.order("short_name asc").each do |test_type|  
	         			 test_type_options += "<option value=\"#{test_type.id}\">#{test_type.short_name}</option>"  
   						end   
 					 %>  
   					<%= select_tag  'test_types', test_type_options.html_safe,:multiple => true, :prompt => "Selecione as drogas",required: "required" ,style:"width: 100%" %>
   					<br />
   		<small style="color:red"> (Para selecionar mais de uma droga <b>mantenha a tecla CTRL pressionada</b>)</small>

		      </div>       
		    </section> 
		    <section><label for="text_field">Quantidade de funcionários</label> 
		    	<div>
		    	<%= number_field_tag 'amount', nil, :in => 1...100, class: "g4" %>
		    </div>
			</section>
			<section><label for="3">Agendar para</label>
	  			<div>
	   				 <%= date_select("","scheduled_to", 
	      				{:start_year => Time.now.year, 
	      				:end_year =>Time.now.year + 5, 
	      				:order => [:day, :month, :year],
	      				:prompt => {:day => 'Dia', :month => 'Mês', :year => 'Ano' }}, {required: "required"}) %>
	    		</div>
			</section>
			<section>
				<div>
				<%= submit_tag "Salvar", class: 'button small' %>
				<%= link_to 'Voltar', "/dashboard",class: 'button small' %>
				<div>
			</section>
			
		</fidelset>
	</div>
<% end %>
